<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Gestion des Clients</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>
<div layout:fragment="content">
<div class="col-md-6 col-md-offset-3 spacer40">
<div class="panel panel-primary">
<div class="panel-heading">Chercher Client</div>
<div class="panel body">
<form th:action="@{/clientpage}" method="get">
<label>Mot Clé</label>
<input type="text" name="mc" th:value="${mc}"/>
<button class="btn btn-primary">Chercher</button>
</form>
</div>
</div>
</div>

<div class="col-md-6 col-md-offset-3 spacer40">
<div class="panel panel-primary">
<div class="panel-heading">Nos Cliens</div>
<div class="panel body">
<table class="table table-striped">
<tr>
<th>Code Client</th><th>Nom</th><th>Email</th><th>Supprimer</th><th>Modifier</th>
</tr>
<tr th:each="c:${clientpage}">
<td th:text="${c.code}"></td><td th:text="${c.nom}"></td><td th:text="${c.email}"></td><td><a th:href="@{/suppC(code=${c.code})}">Supprimer</a></td><td><a th:href="@{/editC(code=${c.code})}">Modifier</a></td>
</tr>
</table>
<div class="container">
<ul class="nav nav-pills">
<li th:each="p,status:${pages}">
<a th:href="@{/clientpage(mc=${mc},page=${status.index})}" th:text="${status.index}"></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</body>
</html>