<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Votre Banque</title>
</head>
<body>
<div layout:fragment="content">


<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">Consultation d'un compte</div>
<div class="panel-body">
<form th:action="@{/consultercompte}" method="get">
<div>
<label>Code Compte</label>
<input type="text" name="codeCompte" th:value="${CodeCompte}" required="required"/>
<button type="submit" class="btn btn-primary">OK</button>
</div>
</form>
<div class="text-danger" th:if="${exception}" th:text="${exception.message}"></div>
</div>
</div>

<div class="panel panel-primary" th:if="${compte}"> <!-- s'il y a un compte on fait çà -->
<div class="panel-heading">Information sur le compte</div>
<div class="panel body">
<div>
<label>Code Propriaitaire du compte:</label>  <!-- compte 1..*      1..1 client -->
<label th:text="${compte.client.code}"></label>
</div>
<div>
<label>Propriaitaire du compte:</label>
<label th:text="${compte.client.nom}"></label>
</div>
<div>
<label>Email Propriaitaire du compte:</label>
<label th:text="${compte.client.email}"></label>
</div>

<div>
<label>Code Compte:</label>
<label th:text="${compte.code}"></label>
</div>
<div>
<label>Solde:</label>
<label th:text="${compte.solde}"></label>
</div>
<div>
<label>Date création:</label>
<label th:text="${compte.dateCreation}"></label>
</div>
<div>
<label>Type:</label>
<label th:text="${compte.class.simpleName}"></label>
</div>
<div  th:if="${compte.class.simpleName=='CompteCourant'}">
<label>Découvert:</label>
<label th:text="${compte.decouvert}"></label>
</div>
<div  th:if="${compte.class.simpleName=='CompteEpargne'}">
<label>Taux:</label>
<label th:text="${compte.taux}"></label>
</div>
</div>
</div>

</div>


<div class="col-md-6">
<div sec:authorize="hasRole('ROLE_ADMIN')">  <!-- cette div va etre apparaitre si le role est ADMIN -->
<div class="panel panel-primary" th:if="${compte}">
<div class="panel-heading">Opération sur le compte</div>
<div class="panel-body">
<form th:action="@{/saveOperation}" method="post">
<div>
<label>Compte:</label>
<input type="hidden" name="codeCompte" th:value="${CodeCompte}"/>
<label th:text="${CodeCompte}"></label>
</div>
<div>
<input type="radio" name="typeOperation" value="VERS" checked="checked" onclick="document.getElementById('forVirement').style.display='none'"/> <label>Versement</label>
<input type="radio" name="typeOperation" value="RETR" onchange="document.getElementById('forVirement').style.display='none'"/> <label>Retrait</label>
<input type="radio" name="typeOperation" value="VIR" onchange="document.getElementById('forVirement').style.display='block'"/> <label>Virement</label>
</div>
<div id="forVirement" style="display: none">
<label>Vers</label>
<input type="text" name="codeCompte2"/>
</div>
<div>
<label>Montant</label>
<input type="text" name="montant"/>
</div>
<div class="text-danger" th:text="${#httpServletRequest.getParameter('error')}">
</div>
<button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>
</div>
<div class="panel panel-primary" th:if="${compte}">
<div class="panel-heading">Liste des opération</div>
<div class="panel body">
<table class="table table-striped">
<tr>
<th>Numéro</th><th>Type</th><th>Date Opération</th><th>Montant</th>
</tr>
<tr th:each="o:${listOperations}">
<td th:text="${o.numero}"></td><td th:text="${o.class.simpleName}"></td><td th:text="${o.dateOperation}"></td><td th:text="${o.montant}"></td>
</tr>
</table>
<div class="container">
<ul class="nav nav-pills">
<li th:each="p,status:${pages}">
<a th:href="@{/consultercompte(codeCompte=${CodeCompte},page=${status.index})}" th:text="${status.index}"></a>
</li>
</ul>
</div>
</div>
</div>
</div>

</div>
</body>
</html>