<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Editer un client</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>
<div class="col-md-6 col-md-offset-3 spacer40">
<div class="panel panel-primary">
<div class="panel-heading">Editer un client</div>
<div class="panel-body">
<form th:action="@{/modifierClient}" method="post">
<div>
<label>Code client:</label>
<input type="text" name="code" th:value="${client.code}" readonly="readonly"/>
</div>
<div>
<label>Nom:</label>
<input type="text" name="nom" th:value="${client.nom}"/>
</div>
<div>
<label>Email:</label>
<input type="text" name="email" th:value="${client.email}"/>
</div>
<button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>

</div>
</body>
</html>