<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
layout:decorator="template1">
<head>
<script type="text/javascript">
function aparaitreTaux(){
	document.getElementById('decouvert').style.display='none';
	document.getElementById('taux').style.display='block';
	
}

function aparaitreDecouverte(){
	document.getElementById('taux').style.display='none';
	document.getElementById('decouvert').style.display='block';
	
}

</script>
<meta charset="utf-8"/>
<title>Gestion des Comptes</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>
<div layout:fragment="content">
<div class="col-md-6 col-md-offset-3 spacer40">
<div class="panel panel-primary">
<div class="panel-heading">Ajouter un compte</div>
<div class="panel-body">
<form th:action="@{/saveCompte}" method="post">
<div>
<label>Code compte:</label>
<input type="text" name="codeCompte" />
</div>
<div>
<label>Solde:</label>
<input type="text" name="solde" />
</div>
<div>
<label>Code Client:</label>
<input type="text" name="codeclient" />
</div>
<div>
<input type="radio" name="typeCompte" value="CE"  onclick="aparaitreTaux()"/> <label>CompteEpargne</label>
<input type="radio" name="typeCompte" value="CC" onchange="aparaitreDecouverte()"/> <label>CompteCourant</label>
</div>
<div id="decouvert" style="display: none">
<label>Découvert</label>
<input type="text" name="decouvert"/>
</div>
<div id="taux" style="display: none">
<label>Taux</label>
<input type="text" name="taux"/>
</div>
<button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>

</div>
<div class="col-md-8 col-md-offset-2 spacer40">
<div class="panel panel-primary">
<div class="panel-heading">Liste des Comptes</div>
<div class="panel body">
<table class="table table-striped">
<tr>
<th>Code Compte</th><th>Type Compte</th><th>Date Compte</th><th>Solde Compte</th><th>Code Client</th><th>Nom Client</th><th>Email Client</th>
</tr>
<tr th:each="c:${listCompte}">
<td th:text="${c.code}"></td><td th:text="${c.class.simpleName}"></td><td th:text="${c.dateCreation}"></td><td th:text="${c.solde}"></td><td th:text="${c.client.code}"></td><td th:text="${c.client.nom}"></td><td th:text="${c.client.email}"></td>
</tr>
</table>

</div>
</div>
</div>
<div class="col-md-8 col-md-offset-2 spacer40">
<div class="panel panel-primary">
<div class="panel-heading">Liste des Comptes Courants</div>
<div class="panel body">
<table class="table table-striped">
<tr>
<th>Code Compte</th><th>Date Compte</th><th>Solde Compte</th><th>Découvert</th><th>Code Client</th><th>Nom Client</th><th>Email Client</th>
</tr>
<tr th:each="cc:${listCC}">
<td th:text="${cc.code}"></td><td th:text="${cc.dateCreation}"></td><td th:text="${cc.solde}"></td><td th:text="${cc.decouvert}"></td><td th:text="${cc.client.code}"></td><td th:text="${cc.client.nom}"></td><td th:text="${cc.client.email}"></td>
</tr>
</table>

</div>
</div>
</div>
</div>
</body>
</html>