<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8"/>
<title>Authentification</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>
<div class="col-md-4 col-md-offset-3 spacer40">
<div class="panel panel-primary">
<div class="panel-heading">Authentification</div>
<div class="panel-body">
<div class="red" th:if="${param.error}">     <!-- s'il y a un parametre error dans url on affiche ce msg -->
Incorrect Username or Password
</div>
<div class="red" th:if="${param.logout}">
You have been logged out
</div>
<form th:action="@{/login}" method="post">
<div>
<label>Username</label>
<input type="text" name="username"/>
</div>
<div>
<label>Password</label>
<input type="password" name="password"/>
</div>

<button type="submit">Login</button>

</form>
</div>
</div>
</div>


</body>
</html>