<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>Ma banque</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />

</head>
<body>
<header>
<div class="navbar navbar-inverse">
<div class="container-fluid">
<ul class="nav navbar-nav">
<li><a th:href="@{/operations}">Operation</a></li>
<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/gestioncompte}">Comptes</a></li>
<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/client}">Gestion Clients</a></li>
<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/clientpage}">Clients Page</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a th:href="@{/logout}">Logout</a></li>
</ul>
</div>
</div>
</header>
<section layout:fragment="content"></section>
<footer>
<div class="navbar-fixed-bottom">
<small>YASSINE ZOUHAIR ICDA 2018</small>
</div>
</footer>
</body>
</html>